<mat-toolbar color="primary" class="no-padding full-height" fxLayout="column" fxLayoutAlign="end center">
  <div>
    <div fxLayoutAlign="center">
      <mat-icon color="default">place</mat-icon>
    </div>
    <div fxLayoutAlign="center">
    </div>
    <div fxLayoutAlign="center">
      <mat-icon color="default">notifications_active</mat-icon>
    </div>
    <div fxLayoutAlign="center">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
