<div fxLayout="row">
  <mat-toolbar color="primary" class="no-padding">
    <div fxFlex="5%" fxLayoutAlign="center">
      <mat-icon color="default">place</mat-icon>
    </div>
    <div fxFlex="85%" fxLayoutAlign="center">
    </div>
    <div fxFlex="5%" fxLayoutAlign="center">
      <mat-icon color="default">notifications_active</mat-icon>
    </div>
    <div fxFlex="5%" fxLayoutAlign="center">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
