.mat-form-field {
  font-size: 18px;
  width: 100%;
}

.mat-row>* {
  font-size: 16px;
}

.mat-header-row>* {
  font-size: 16px ;
}

.mat-header-cell {
  display:flex;
  justify-content:center;
}

.mat-cell {
  display: flex;
  justify-content:center;
  word-break: break-all;
}
