<div fx Layout="row" class="full-height">
  <div fxFlex="10%">
    <app-console-navbar></app-console-navbar>
  </div>
  <div fxFlex="90%">
    <div fxLayout="row">
      <div fxFlex="100%" style="background-color: #f5f5f5; height: 100%">
        <app-navbar></app-navbar>
        <div fxLayout="row">
          <mat-card class="last-restore nested-font-size-18" fxFlex="50">
            <mat-card-header fxLayoutAlign="center center">
              <h2>Last restore</h2>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="end start" fxFlex="100">
                <mat-list class="full-width">
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Filename:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.filename}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Filesize:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.filesize}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">DB has been cleared:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.clearDB == null ? 'undefined' :
                      lastRestore.clearDB}}
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Start date:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{dateHelper.toReadable(lastRestore.startDate)}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">End date:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{dateHelper.toReadable(lastRestore.endDate)}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Execution time:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.executionTime}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Executor username:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.executorUsername}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <b fxFlex="30" fxLayoutAlign="start">Dump deleted:</b>
                    <div fxFlex="70" fxLayoutAlign="start">{{lastRestore.dumpDeleted == null ? 'undefined' :
                      lastRestore.dumpDeleted}}
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-card-content>
            <mat-card-actions class="nested-font-size-18" fxLayoutAlign="start">
              <button mat-raised-button color="primary" class="card-action">
                More info
              </button>
            </mat-card-actions>
          </mat-card>
          <mat-card fxFlexOffset="5" fxFlex="35">
            <h1>МЕСТО ПОД КАРТУ</h1>
          </mat-card>
        </div>
        <div fxLayout="column">
          <div fxLayout="row">
            <h2 fxFlexOffset="10">Old restores</h2>
          </div>
          <div fxLayout="row">
            <mat-table [dataSource]="dataSource" fxFlex="80" fxFlexOffset="10">
              <ng-container matColumnDef="filename">
                <mat-header-cell *matHeaderCellDef>Filename</mat-header-cell>
                <mat-cell *matCellDef="let restore"> {{restore.filename}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="dumpDate">
                <mat-header-cell *matHeaderCellDef> Start date</mat-header-cell>
                <mat-cell *matCellDef="let restore"> {{dateHelper.toReadable(restore.startDate)}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
                <mat-cell *matCellDef="let restore"> {{restore.restoreStatus}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="executionTime">
                <mat-header-cell *matHeaderCellDef> Execution time</mat-header-cell>
                <mat-cell *matCellDef="let restore"> {{restore.executionTime}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="clearDB">
                <mat-header-cell *matHeaderCellDef> DB has been cleared</mat-header-cell>
                <mat-cell *matCellDef="let restore">
                  <mat-icon style="color: white" class="icon-32">place</mat-icon>
                  {{restore.clearDB}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="moreInfo">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let restore">
                  <button mat-raised-button color="primary">More info</button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          <div fxLayout="row">
            <mat-paginator fxFlexOffset="10" fxFlex="80"
                           [length]="countObjects"
                           [pageSize]="pageSize"
                           [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
        <div style="margin-bottom: 100px">
        </div>
      </div>
    </div>
  </div>
</div>
