.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.full-height {
   height: 100%;
 }

.mat-icon.md-48 {
  font-size: 45px !important;
  height: 45px;
  width: 45px;
}

.icon-32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}

.nested-font-size-16 > * {
  font-size: 16px;
}

.full-width {
  width: 100%;
}

.card-action {
  margin-left: 20px !important;
  margin-bottom: 10px !important;
}
